* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

body {
    scroll-behavior: smooth;
    opacity: 0;
    transition: opacity 1s ease, background-color 1s, color 1s;
}

body.loaded {
    opacity: 1;
}

button {
    cursor: pointer;
}

button, input, 
#title, 
#editor {
    outline: none;
    border: none;
    letter-spacing: 0.5px;
    caret-color: orange;
    background-color: inherit;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

#title-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 10px 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    z-index: 1;
}

#title {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
}

#help {
    transition: transform 0.5s;
    animation: helpAnime 1s ease-in-out infinite;
}

@keyframes helpAnime {
    0%, 100% {
        scale: 1;
    }
    50% {
        scale: 1.6;
    }
}

#editor {
    flex: 1;
    padding: 40px 15px 20px 25px;
    overflow-y: auto;
    word-spacing: normal;
    letter-spacing: 0.7px;
    line-height: 1.6;
    resize: vertical;
    white-space: pre-wrap;
}

#editor::-webkit-scrollbar {
    width: 4px;
}

#editor::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 4px;
    height: 90px;
}

#notice-holder {
    display: none;
    top: 20px;
    margin-top: 30px;
    position: absolute;
    padding: 10px;
    width: 100%;
}

.notice {
    display: block;
    background-color: orange;
    text-align: center;
    padding: 2px 22px;
    font-size: 14px;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.notice:hover {
    transform: scale(1.05);
}

.notice-animations {
    transition: transform 0.5s;
    animation: noticeAnime 1s ease-in-out infinite;
}

@keyframes noticeAnime {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

#controls {
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

#more {
    padding-bottom: 20px;
    display: none;
}

#more.open {
    display: block;
}

#less {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#less button {
    padding-inline: 4px;
}

#less span:nth-of-type(1) {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top, 
#bottom, 
#experimental {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.selected {
    background-color: lightgray;
    border-radius: 100%;
    transform: scale(1.4);
}

label {
    display: block;
    font-size: 14px;
    color: gray;
    text-align: center;
}

.readonly {
    display: block;
}

.block {
    margin: 10px 0 0;
    display: block;
    color: orange;
}
